@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
}
/*--



/*--------HEADER---------*/

/*--header{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

header .containerlogo{
    margin:0 auto;
    text-align: center;
}

header .logo{
    width: 60%;
}

header .containersearch{
    width: 100%;
    text-align: center;
    position: relative;
    margin: 15px 30px;
}

header input#search{
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    padding-left: 15px;
    padding-right: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
}

.iconsearch{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 25px;
    color: silver;
}

/*----------MENU RESPONSIVE -----------*/

/*--.menuNoResposive{
    display: none;
}

.respmenu {
    color: black;
    position: relative;
    min-height: 30px;
    width: 100%;
}

div.respmenu input.hola{
    width: 100%;
    position: absolute;
}

.respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    font-size: 30px;
    pointer-events: none;
  }

.respmenu input[type="checkbox"] {
    opacity: 80%; 
}

.respmenu a { 
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #e8eae6;
    background: #206200;
    text-shadow: 1px 1px black;
    opacity: 85%;
    text-transform: uppercase;
    width: 100%;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: relative;  
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;  
    color: #8e8d8c;
  }
   
  .respmenu input[type="checkbox"] {
    opacity: 0; 
  }
   
  .respmenu nav {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
   
  .respmenu input:checked ~ nav {
    display: block;
  }
   
  .respmenu input:checked ~ .fa-bars {
    display: none;
    pointer-events: none;
  }
   
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
    pointer-events: none;
  }
  

/*----------ICONOS LOGIN Y CARRITO COMPRAS -----------*/

div.respmenu .fa-user-times{
    position: absolute;
    right: 25px;
    top: 6px;
    font-size: x-large;
    color: #8e8d8c;
}

div.respmenu .fa-shopping-cart{
    position: absolute;
    right: 80px;
    top: 10px;
    font-size: large;
    color: #8e8d8c;
}

section.home{
    margin: 15px;
}

section.home hr{
    height: 5px;
    background-color: #206200;
    margin-bottom: 20px;
}



/*------------IMAGEN--------*/
.imagenespasando img {
    width: 100%;
    border-radius: 2%;
}

/*------------DESTACADOS----------*/

.destacados {
    text-align: center;
    color: #206200;
    }

/*------------PRODUCTOS------------*/

div.productos {
    margin: 20px auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.productos div {
    background-color: #a22b2b;
    height: 200px;
    width: 45%;
    border-radius: 6%;
    margin: 15px auto;
    padding: 20px;
    text-align: center;
}


/*------------BANNER----------*/
/*div.banners {}*/

.banner1, .banner2, .banner3 {
    
    height: 200px;
    border-radius: 6%;
    text-align: center;
    margin: 15px auto;
    width: 80%;
 }


 /*----------------GALERIA IG Y FORMULARIO----------*/

 /*.galeriaformulario{} */

 .galeriaig, .formulario {
     background-color: #6e711e;
     width: 90%;
     height: 350px;
     text-align: center;
     border-radius: 6%;
     margin: 15px auto;
 }


 /*-------------MEDIOS DE PAGO----------*/
/*
 .mediosdepago {
    display: flex;
    justify-content: center;
 }*/

 

.mediosPago p {
    font-size: 28px;
    text-align: center;
}

.mediosPago div.rrss{
    display: flex;
    justify-content: space-around;
    opacity: 50%;
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 60px;
}








/*----------SECCION FOOTER-----------*/ 

/*--footer{
    background-color: #313131;
    height: 500px;
}

footer div.contacto{
    text-align: -webkit-center;
    padding-top: 25px;
}

footer div.contacto p{
    color: silver;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

footer div.contacto p#uno, footer div.rrss2 p#uno{
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

footer hr{
    width: 70%;
}

footer div.rrss2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}

footer div.rrss2 div.icons{
    color: cornsilk;
    opacity: 65%;
    font-size: xx-large;
    padding: 10px;
}

footer div.rrss2 div.icons i{
    letter-spacing: 40px;
}

footer div.rrss2 div.icons i.fa-facebook-f{
    padding-left: 40px;
}

footer div.menuFooter{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer div.menuFooter nav ul{
    list-style-type: none;
}

footer div.menuFooter a{ 
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #e8eae6;
    opacity: 85%;
    text-transform: uppercase;
    width: 100%;
    font-size: 12px;
  }

footer div.derechos{
      background-color: #212121;;
}

footer div.derechos p{
    font-size: 12px;
    color: #9a9696;
    padding: 10px;
    text-align: center;
}

/*----------------SECCION MEDIA QUERYS-------------*/ 





/*---------Minimo 768px----------*/
@media (min-width: 768px), (max-width: 1023px) {
   /*-- .respmenu {
        display: none;
    } 

    header{
        margin-top: 25px;
    }

    header .containerlogo{
        width: 40%;
    }

    header .containersearch{
        width: 50%;
    }

    .menuNoResposive{
    display: flex;
    margin-top: 15px;
    align: flex-end;
    justify-content: center;
    width: 100%;
    }

    .menuNoResposive ul{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin-top: 25px;
    }

    .menuNoResposive ul li{
    list-style: none;
    text-transform: uppercase;
    }

    .menuNoResposive ul li a{
        text-decoration: none;
        color: black;
    }
    .inicio, .quienes, .cat1, .cat2, .cat3, .cat4, .cat5, .contacto {
        font-size: 11px;
      }

    section.home{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section.home hr#hr1{
        width: 100%;
        order: -2;
    }

    section.home hr{
        width: 100%;
    }

    
    
 /*------------IMAGEN--------*/
.imagenespasando img {
    transition: 0.2s ease;
    width: 90%;
    border-radius: 2%;
    height: 285px;
}
.imagenespasando img {
    width: 100%;
}

/*------------DESTACADOS----------*/

.destacados {
    margin: 15px auto;
    text-align: center;
    color: rgb(0, 0, 0);
}

/*------------PRODUCTOS------------*/

div.productos {
    margin: 20px auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.productos div {
    background-color: #a22b2b;
    height: 200px;
    width: 15%;
    border-radius: 6%;
    margin: 15px auto;
    padding: 11px;
    text-align: center;
}


/*------------BANNER----------*/
div.banners {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    justify-content: space-evenly;}

.banner1, .banner2, .banner3 {
    
    height: 200px;
    border-radius: 6%;
    text-align: center;
    margin: 15px auto;
    width: 30%;
    padding: 50px;
 }


 /*----------------GALERIA IG Y FORMULARIO----------*/

 .galeriaformulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    justify-content: space-evenly;
 } 

 .galeriaig, .formulario {
     background-color: #6e711e;
     width: 46%;
     height: 350px;
     text-align: center;
     border-radius: 6%;
     margin: 15px auto;
     padding: 50px;
 }


 /*-------------MEDIOS DE PAGO----------*/


 .mediosPago{
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 90%;
     margin: 20px auto;
     justify-content: space-evenly;
 }

.mediosPago p {
    font-size: 28px;
    text-align: center;
}

.mediosPago div.rrss{
    display: flex;
    justify-content: space-between;
    opacity: 50%;
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 60px;

}

.fabfa-cc-visa {
    margin: 0 auto;
}

.rrss i{
    margin: 0 18px;
}



    
    /*--footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        padding-top: 35px;
    }

    footer div.contacto{
        width: 30%;
        padding-top: 0px;
        padding-right: 5px;
    }

    footer div.rrss2{
        width: 40%;
        margin: 0px;
        order: -1;
        text-align: center;
        align-content: flex-start;
    }

    footer div.menuFooter{
        width: 30%;
        margin: 0px;
        order: -2;
        padding-left: 20px;
    }

    footer div.derechos{
        width: 100%;
        margin: 0px;
        padding-top: 5px;
        margin-top: 25px;
    }

    footer div.derechos p{
        padding: 0px;
    }

    footer div.rrss2 div.icons i {
        letter-spacing: 26px;
    }
    

}





/*----------------Minimo 1024px------------*/

@media (min-width:1024px){

    /*--.respmenu {
        display: none;
    } 

    header{
        margin-top: 25px;
    }

    header .containerlogo{
        width: 40%;
        margin: -7px;
    }

    header .containersearch{
        width: 50%;
    }

    .menuNoResposive{
    display: flex;
    margin-top: 15px;
    align: flex-end;
    justify-content: center;
    width: 100%;
    }

    .menuNoResposive ul{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin-top: 25px;
    }

    .menuNoResposive ul li{
    list-style: none;
    text-transform: uppercase;
    }

    .menuNoResposive ul li a{
        text-decoration: none;
        color: black;
    }

    section.home{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section.home hr#hr1{
        width: 100%;
        order: -2;
    }

    section.home hr{
        width: 100%;
    }

    
    
 /*------------IMAGEN--------*/
.imagenespasando {
    margin: 10px 100px;
    display: flex ;
   justify-content: center;
}


.imagenespasando img {
    transition: 0.2s ease;
    width: 77%;
    border-radius: 2%;
    height: 285px;
    
}
.imagenespasando img:hover {
    width: 80%;
    height: 295px;
}

/*------------DESTACADOS----------*/

.destacados {
    margin: 15px auto;
    text-align: center;
    color: #206200;
}

.container-products{
    display: flex;
    flex-direction: row;
    width: 85%;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 9%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 5%;
    
  }

  .lista-products {
    padding: 12;
    margin: 20px;
    margin-top: 40px;
    width: 20%;
    height: 354px;
    background: #FFF;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .lista-products h1 {
    font-size: initial;
    color: green;
  }

  .lista-products h2 {
    font-size: 13;
  }

  .lista-products:hover {
    border: solid;
    border-color: rgb(255, 54, 54);
}

img {
    width: 100%
  }

  button {
    margin-top: 8px;
    border-radius: 42px;
  }

  
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

form label {
  margin: 20px;
}

form label input {
  display: flex;
  margin: 10px;
  padding: 15%;
}

form button {
  margin: 20px;
  margin-top: 4px;
  margin-bottom: 3px;
}
.inputAvatar{
  margin-top: 30px;
}

.botonEdit{
  margin-top: 30px;
}

/*------------PRODUCTOS------------*/

div.productos {
    margin: 20px auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.productos div {
    background-color: #a22b2b;
    height: 200px;
    width: 15%;
    border-radius: 6%;
    margin: 15px auto;
    padding: 30px;
    text-align: center;
}


/*------------BANNER----------*/
div.banners {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    justify-content: space-evenly;}

.banner1, .banner2, .banner3 {
        height: 366px;
    border-radius: 6%;
    text-align: center;
    margin: 15px auto;
    width: 30%;
    padding: 50px;
 }

 .banner2 {
     padding-top: 100px;
 }

 /*----------------GALERIA IG Y FORMULARIO----------*/

 .galeriaformulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    justify-content: space-evenly;
 } 

 .galeriaig, .formulario {
     background-color: #6e711e;
     width: 46%;
     height: 350px;
     text-align: center;
     border-radius: 6%;
     margin: 15px auto;
     padding: 50px;
 }


 /*-------------MEDIOS DE PAGO----------*/


 .mediosPago{
     display: flex;
     flex-direction: row;
     align-items: center;
     width: 90%;
     margin: 20px auto;
     justify-content: space-evenly;
 }

.mediosPago p {
    font-size: 28px;
    text-align: center;
}

.mediosPago div.rrss{
    display: flex;
    justify-content: space-between;
    opacity: 50%;
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 60px;

}

.fabfa-cc-visa {
    margin: 0 auto;
}

.rrss i{
    margin: 0 45px;
}



    
    /*footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        padding-top: 35px;
    }

    footer div.contacto{
        width: 30%;
        padding-top: 0px;
        padding-right: 5px;
    }

    footer div.rrss2{
        width: 40%;
        margin: 0px;
        order: -1;
        text-align: center;
        align-content: flex-start;
    }

    footer div.menuFooter{
        width: 30%;
        margin: 0px;
        order: -2;
        padding-left: 20px;
    }

    footer div.derechos{
        width: 100%;
        margin: 0px;
        padding-top: 5px;
        margin-top: 25px;
    }

    footer div.derechos p{
        padding: 0px;
    };


}*/}}