* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* ---------------Header ------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
  }

  li, a, button{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }

  .logo{
    cursor: pointer;
    width: 215px;
    margin: 30px 0;
  }

  .nav__links{
    list-style: none;
  }

  .nav__links li{
    display: inline-block;
    padding: 0px 20px;
  }

  .nav__links li a{
    transition: all 0.3s ease 0s;
  }

  .nav__links li a:hover{
    color: blue;
  }

  .box{
    top: 50%;
    left: 50%;
  }

  input.src{
    border: 1px solid black;
    background: white;
    font-family: "Poppins";
    font-size: 18px;
    border-radius: 15px;
    color: #444;
    border: 1.5px solid black;
    text-align: center;
  
  }
 
 

/*----------MENU RESPONSIVE -----------*/

.menuNoResposive{
    display: none;
}

.respmenu {
    color: black;
    position: relative;
    min-height: 30px;
    width: 100%;
}

div.respmenu input.hola{
    width: 100%;
    position: absolute;
}

.respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    font-size: 30px;
    pointer-events: none;
  }

.respmenu input[type="checkbox"] {
    opacity: 80%; 
}

.respmenu a { 
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #e8eae6;
    background: #206200;
    text-shadow: 1px 1px black;
    opacity: 85%;
    text-transform: uppercase;
    width: 100%;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: relative;  
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;  
    color: #8e8d8c;
  }
   
  .respmenu input[type="checkbox"] {
    opacity: 0; 
  }
   
  .respmenu nav {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
   
  .respmenu input:checked ~ nav {
    display: block;
  }
   
  .respmenu input:checked ~ .fa-bars {
    display: none;
    pointer-events: none;
  }
   
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
    pointer-events: none;
  }
/* --------------- Main ------------*/

.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*--------- Productos --------- */

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
    font-size: 30px;
}

.title::after{
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p {
font-size: 15px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5px;
}

.col-4 img {
    width: 100%;
}

.col-4:hover {
    transform: translateY(-5px);
}



/*--------- Oferta --------- */

.offer {
    background: white;
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

.btn {
    display: inline-block;
    background: tomato;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

/*--------- Footer --------- */


.footer{
    background: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: white;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3,  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
    
}
ul{
    list-style: none;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
