<%- include('./partials/head', {archivoCss: "crearEditarProductos"})%>
 
<%- include('./partials/header.ejs')%>

<hr>
<div id="crearEditar-box">
<div class="left">
    <form action="/products/crear" method="POST" enctype="multipart/form-data">
        <label for="">Producto</label>
        <input type="text" name="nombre" placeholder="Inserte nombre de producto..">
        <label for="">Marca</label>
        <input type="text" name="marca" placeholder="Inserte marca de producto..">
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" placeholder="Inserte descripción de producto/s..">
        <label for="">Categoria</label>
        <input type="text" name="categoria" placeholder="Categoria">
        <label for="">Precio</label>
        <input type="number" name="precio" placeholder="Precio">
        <input type="file" name="avatar"  />
        <button type="submit">Crear</button>

    </form>
    </div>
</div>

<%- include('./partials/footer.ejs')%>

