<%- include('./partials/head', {archivoCss: "crearEditarProductos"})%>
 
<%- include('./partials/header.ejs')%>

<hr>
<div id="crearEditar-box">
<div class="left">
    <form action="/products/crear" method="POST">
        <label for="">Producto</label>
        <input type="text" name="nombre" placeholder="Inserte nombre de producto..">
        <label for="">Marca</label>
        <input type="text" name="marca" placeholder="Inserte marca de producto..">
        <label for="">Cantidad</label>
        <input type="number" name="descripcion" placeholder="Inserte descripción de producto/s..">
        <label for="">Categoria</label>
        <input type="number" name="Categoria" placeholder="Categoria">
        <button type="submit">Crear</button>

    </form>
    </div>
</div>

<%- include('./partials/footer.ejs')%>

