<%- include('./partials/head', {archivoCss: "register"})%>
  <%- include('./partials/header.ejs')%>
  <hr>
  
  <div id="login-box">
    <div class="box">
      
      <h1>Login Exitoso!</h1>

      
    </div>
  </div>
  
    
    <%- include('./partials/footer.ejs')%>

