<%- include('./partials/head', {archivoCss: "login"})%>
    <%- include('./partials/header.ejs')%>
    <hr>
    <% if (typeof errors != 'undefined') { %>
      <p style="color: red;"> ERROR</p>
      <ul>
        <% for (let i = 0 ; i < errors.length; i++) { %>
          <li>
            <%= errors[i].msg %>
          </li>
       <% } %>   
      </ul>
    <% } %>  
    <div id="login-box">
      <div class="left">
        <h1>Login</h1>

        <form action="/users/login" method="POST">
        
        <input type="text" name="email" placeholder="E-mail" />
        <input type="password" name="password" placeholder="Password" />        
        <input type="submit" name="signup_submit" value="Login" />
      </form>
      
      </div>
      
      <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>
        

        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
      </div>
      <div class="or">OR</div>
    </div>
  

      <!--=======     
            signUpButton.addEventListener('click', () => {
                container.classList.add("right-panel-active");
            });
            signInButton.addEventListener('click', () => {
                container.classList.remove("right-panel-active");
            });
        </script> -->
        <%- include('./partials/footer.ejs')%>
