<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    <link rel="stylesheet" href="/css/purchase.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"></head>
<body>

    <!--------- Header -------->


        <header>
          <img src="natural.png" class="logo" alt="logo">
          <div class="box">
            <input type="text" name="search" placeholder="Buscar" class="src" autocomplete="off">
          </div>
            <nav>
              <ul class="nav__links">
                <li><a href="">Categoria 1</a></li>
                <li><a href="">Categoria 1</a></li>
                <li><a href="">Categoria 1</a></li>
                <li><a href="">Categoria 1</a></li>
              </ul>
            </nav>
        </header>
  

<!--------- Productos -------->

<div class="small-container">
    <h2 class="title">Productos</h2>
    <div class="row">
        <div class="col-4">
            <img src="/img/purchase/jugodenaranja.jpeg" alt="">
            <h4>Jugo de Naranja</h4>
            <p>$80.00</p>
        </div>
        <div class="col-4">
            <img src="/img/purchase/granola.jpg" alt="">
            <h4>Granola</h4>
            <p>$170.00</p>
        </div>
        <div class="col-4">
            <img src="/img/purchase/helado.jpg" alt="">
            <h4>Helado</h4>
            <p>$180.00</p>
        </div>
        <div class="col-4">
            <img src="/img/purchase/barra.jpg" alt="">
            <h4>Barra de Cereal</h4>
            <p>$45.00</p>
        </div>
        <div class="col-4">
            <img src="/img/purchase/jugodenaranja.jpeg" alt="">
            <h4>Jugo de Naranja</h4>
            <p>$80.00</p>
        </div>
        <div class="col-4">
            <img src="/img/purchase/granola.jpg" alt="">
            <h4>Granola</h4>
            <p>$170.00</p>
        </div>
        <div class="col-4">
            <img src="/img/purchase/helado.jpg" alt="">
            <h4>Helado</h4>
            <p>$180.00</p>
        </div>
        <div class="col-4">
            <img src="/img/purchase/barra.jpg" alt="">
            <h4>Barra de Cereal</h4>
            <p>$45.00</p>
        </div>
    </div>
    
</div>
<hr>
<!--------- Oferta -------->

<div class="offer">
    <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="/img/purchase/lecheoferta.jpg" alt="" class="offer-img">
                </div>
                <div class="col-2">
                    <h1>Proba la Nueva Leche Organica</h1>
                    <p>Hecha con los mejores animales y la ultima tecnologia.</p>
                    <a href="" class="btn">Comprar &#8594;</a>
                </div>
            </div>
    </div>
</div>

<!--------- Footer -------->

<%- include('partials/footer.ejs')%>

</body>
</html>