<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
    <link rel="stylesheet" href="../../public/css/purchase.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"></head>
<body>

    <!--------- Header -------->

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../../public/img/purchase/natural.png" width="100px" alt="">
            </div>
       
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Account</a></li>
            </ul>
        </nav>
        <img src="../../public/img/purchase/cart.png" alt="" width="30px" height="30px">
    </div>
        <div class="row">
            <div class="col-2">
                <h1>Los Mejores Productos en el Mejor Lugar</h1>
            </div>
            <div class="col-2">
                <img src="../../public/img/purchase/arboles.jpg" alt="">
            </div>
            </div>
        </div>
</div>

   

<!--------- Productos -------->

<div class="small-container">
    <h2 class="title">Productos</h2>
    <div class="row">
        <div class="col-4">
            <img src="../../public/img/purchase/jugodenaranja.jpeg" alt="">
            <h4>Jugo de Naranja</h4>
            <p>$80.00</p>
        </div>
        <div class="col-4">
            <img src="../../public/img/purchase/granola.jpg" alt="">
            <h4>Granola</h4>
            <p>$170.00</p>
        </div>
        <div class="col-4">
            <img src="../../public/img/purchase/helado.jpg" alt="">
            <h4>Helado</h4>
            <p>$180.00</p>
        </div>
        <div class="col-4">
            <img src="../../public/img/purchase/barra.jpg" alt="">
            <h4>Barra de Cereal</h4>
            <p>$45.00</p>
        </div>
        <div class="col-4">
            <img src="../../public/img/purchase/jugodenaranja.jpeg" alt="">
            <h4>Jugo de Naranja</h4>
            <p>$80.00</p>
        </div>
        <div class="col-4">
            <img src="../../public/img/purchase/granola.jpg" alt="">
            <h4>Granola</h4>
            <p>$170.00</p>
        </div>
        <div class="col-4">
            <img src="../../public/img/purchase/helado.jpg" alt="">
            <h4>Helado</h4>
            <p>$180.00</p>
        </div>
        <div class="col-4">
            <img src="../../public/img/purchase/barra.jpg" alt="">
            <h4>Barra de Cereal</h4>
            <p>$45.00</p>
        </div>
    </div>
    
</div>
<hr>
<!--------- Oferta -------->

<div class="offer">
    <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="../../public/img/purchase/lecheoferta.jpg" alt="" class="offer-img">
                </div>
                <div class="col-2">
                    <h1>Proba la Nueva Leche Organica</h1>
                    <p>Hecha con los mejores animales y la ultima tecnologia.</p>
                    <a href="" class="btn">Comprar &#8594;</a>
                </div>
            </div>
    </div>
</div>

<!--------- Footer -------->

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Bajate Nuestra APP</h3>
                <p>Mejora tu experiencia</p>
                <div class="app-logo">
                    <img src="../../public/img/purchase/app-store.png" alt="">
                    <img src="../../public/img/purchase/play-store.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../../public/img/purchase/natural.png" width="100px" alt="">
            </div>
            <div class="footer-col-3">
                <h3>Links</h3>
                <ul>
                    <li>Nosotros</li>
                    <li>Productos</li>
                    <li>Contacto</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Nuestras Redes</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>