<%- include('./partials/head', {archivoCss: "crearEditarProductos"})%>
 
<%- include('./partials/header.ejs')%>

<hr>
<div id="crearEditar-box">
<div class="quienesSomos" style="box-shadow: rgb(117, 150, 84);">
    <form action="">
        <label for="" style="color: black; font-size: x-large; ">ACERCA DE NOSOTROS</label>
        <p style="font-size: medium;">
            Somos dos amigos de la infancia, Matias y Francisco. Intentando romper con la alimentacion tradicional les ofrecemos una variante.
            Jugamos otro partido, nos desenvolvemos de manera eficaz y pensando en una oferta de valor unica para el consumidor. Nuestro equipo cuenta con expertos de la industria de alimentos.
            El secreto en la cadena de abastecimiento es ser eficientes, de esta manera estaremos llegando al consumidor final con una velocidad y un precio único. Buscamos crear un modelo de negocio disruptivo, escalable y enfocado en el expertise de nuestro equipo.</p>
    </form>
    </div>
</div>

<%- include('./partials/footer.ejs')%>

