<%- include('./partials/head', {archivoCss: "register"})%>
  <%- include('./partials/header.ejs')%>
  <hr>
  <div id="login-box">
    <div class="box">
      <h1>Register</h1>

      <form action="/users/register" method="POST" enctype="multipart/form-data"> 
      
      <input type="text" name="nombre" placeholder="Nombre" />
      <input type="text" name="apellido" placeholder="Apellido" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="file" name="avatar"  />
      
      <input type="submit" name="signup_submit" value="Register" />
    </form>
    </div>
  </div>
    
    
    <%- include('./partials/footer.ejs')%>

