<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"></head>

    
</head>
<body>
  <%- include('partials/header.ejs')%>
  <div id="login-box">
    <div class="box">
      <h1>Register</h1>
      
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      
      <input type="submit" name="signup_submit" value="Sign" />
    </div>

</body>
=======
<html>
    <body>
        






        <%- include('partials/footer.ejs')%>
    </body>
>>>>>>> 81b8d057204140c000aae7247aa42bb584358f8e
</html>