<%- include('./partials/head', {archivoCss: "register"})%>
  <%- include('./partials/header.ejs')%>
  <hr>
  <div id="login-box">
    <div class="box">
      <h1>Register</h1>

      <form action="" method="POST"> 
      
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="email" placeholder="E-mail" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="password2" placeholder="Retype password" />
      
      <input type="submit" name="signup_submit" value="Sign" />
    </form>
    </div>
  </div>
    
    
    <%- include('./partials/footer.ejs')%>

