
<html> 
    <%- include('partials/head.ejs')%>
    <body>
        <footer>
            <div class="contacto">
                <p id="uno">Contáctanos</p>
                <hr>
                <p>+54911 4646-4646 |  info@naturalmystic.com.ar</p>
                <hr>
                <p>Avenida Mystical 1566, CABA, Villa Luro</p>
                <hr>
            </div>
            <div class="rrss2">
                <p id="uno">Síguenos en:</p>
                <hr>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-pinterest"></i>
                </div>
                <hr>
            </div>
            <div class="menuFooter">
                <nav>
                    <ul>
                      <li><a href="#">Inicio</a></li>
                      <li><a href="#">Quienes Somos</a></li>
                      <li><a href="#">Productos</a></li>
                      <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="derechos">
                <p>Copyright - Natural Mystic - 2020 - Todos los derechos reservados</p>
                <p>Grupo 8 - Enrique Díaz / Francisco Frachia / Matías Pancorvo</p>
            </div>
        </footer>
    </body>
</html>
