    
    <body>
        
        <header>
            <div class="containerlogo">
                <a href="/"><img class="logo" src="/img/logo-natural-mystical.png" alt="Logo Natural Mystic"></a> 
            </div>
    
            <div class="containersearch">      
                <input type="search" id="search" placeholder="Buscar Productos..." />
                <div class="iconsearch"><i class="fa fa-search"></i></div>
            </div>  
            <div class="loginRegister">
                <a href="users/login">Login</a>
                <a href="users/register">/Register</a>
            </div>
            <nav class="menuNoResposive">
                <ul>
                  <li><a href="/" class="inicio">Inicio</a></li>
                  <li><a href="#" class="quienes">Quienes Somos</a></li>
                  <li><a href="/products" class="cat1">Productos</a></li>
                  <li><a href="#" class="cat2">Categoria 2</a></li>
                  <li><a href="#" class="cat3">Categoria 3</a></li>
                  <li><a href="#" class="cat4">Categoria 4</a></li>
                  <li><a href="#" class="cat5">Categoria 5</a></li>
                  <li><a href="#" class="contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>
 