    
    <body>
        
        <header>
            <div class="containerlogo">
                <a href="/"><img class="logo" src="/img/logo-natural-mystical.png" alt="Logo Natural Mystic"></a> 
            </div>
    
            <div class="containersearch">      
                <form action="/search"><input type="search" id="search" placeholder="Buscar Productos..." />
                <div class="iconsearch"><button><i class="fa fa-search"></i></div></button>
                </form>
            </div>  
        
            <div class="loginRegister">
                <a href="/users/login">Login</a>
                <a href="/users/register">/Register</a>
            </div>
            <nav class="menuNoResposive">
                <ul>
                  <li><a href="/" class="inicio">Inicio</a></li>
                  <li><a href="/Aboutus" class="quienes">Quienes Somos</a></li>
                  <li><a href="/products" class="cat1">Productos</a></li>
                  <li><a href="/products/medallones" class="cat2">Medallones</a></li>
                  <li><a href="/products/dulce" class="cat3">Dulce</a></li>
                  <li><a href="/products/quesos" class="cat4">Quesos</a></li>
                  <li><a href="/products/otros" class="cat5">Otros</a></li>
                  <li><a href="/products/hogar" class="contacto">Hogar</a></li>
                </ul>
            </nav>
        </header>
 